<div class="grid_12 clearfix page_title">
  <h1>Master of Magic</h1>
</div>
<!-- HERE! -->

<table width="100%">
	<tr><td>

<h2>Payments</h2>
<table>
	<tr><th>Id</th><th>Number</th><th>Holder</th><th>Value</th><th>State</th></tr>
<% @payments.each do |i| %>
	<tr>
		<td><%= i.id %></td>
		<td><%= i.card_number %></td>
		<td><%= i.card_holder %></td>
		<td><%= i.value %></td>
		<td>
		<%if !i.finished_processing? %>
			<a href="javascript:change_state(<%=i.id%>);">
		<% end %>
		<%= i.state %></a></td>
		<td><%= link_to "order #{i.order.id}", i.order %></td>
	</tr>
<% end %>
</table>

</div>

</td><td>

<h2>Orders</h2>
<table>
	<tr><th>Id</th><th>State</th><th>Address</th><th>Price</th></tr>
<% @orders.each do |order| %>
	<tr>
		<td><%= order.id %></td>
		<td>
		<%if order.state=="preparing" %>
			<a href="javascript:delivering_order_selected(<%=order.id%>, 'delivering');">
		<%elsif order.state=="delivering" %>
			<a href="javascript:delivering_order(<%=order.id%>, ['delivered','failed_to_deliver']);">
		<% end %>
		<%= order.state %></a></td>
		<td><%= link_to "show", order %></td>
		<td><%= order.address %></td>
		<td><%= order.price %></td>
	</tr>
<% end %>
</table>

</tr></table>

<% content_for :javascripts do %>
<script type="text/javascript">

  function delivering_order_selected(order, what) {
    f = new Formfy().with.action("<%= admin_update_order_path %>").post().inputs(
      {name: "_method", value: "put"},
      {name: "id", value: order},
      {name: "state", value: what}
    ).done();
    document.body.appendChild(f);
    f.submit();
    return false;
  }

  function delivering_order(order, options) {
    state = prompt("Enter new state " + options + ":");
    delivering_order_selected(order, state);
  }

  function change_state(payment) {
    state = prompt("Enter new state [paid, rejected]:");
    f = new Formfy().with.action("<%= admin_update_payment_path %>").post().inputs(
      {name: "_method", value: "put"},
      {name: "id", value: payment},
      {name: "state", value: state}
    ).done();
    document.body.appendChild(f);
    f.submit();
    return false;
  }

</script>
<% end %>
