<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>State:</b>
  <%= @order.state %>
</p>

<table>
<% @order.items.each do |i| %>
<tr>
	<td><%= i.product.name %></td>
	<td><%= i.quantity %></td>
</tr>
<% end %>
</table>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Products', products_path %> |
<%= link_to 'Back', orders_path %>
