<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>State:</b>
  <%= @order.state %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
