<h1>Listing products</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<script>
function add(product) {
	qtd = $('#product_' + product).val()
	f = new Formfy().with.action("<%= order_path(current_order) %>").post().inputs(
		{name: "_method", value: "put"},
		{name: "order[product]", value: product},
		{name: "order[quantity]", value: qtd}
			).done();
	document.body.appendChild(f);
	f.submit();
}
function create(product) {
	qtd = $('#product_' + product).val()
	address = prompt("Enter your address");
	f = new Formfy().with.action("<%= orders_path%>").post().inputs(
		{name: "order[product]", value: product},
		{name: "order[address]", value: address},
		{name: "order[quantity]", value: qtd}
			).done();
	document.body.appendChild(f);
	f.submit();
}
</script>
<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.price %></td>
		<td>
			<input id="product_<%=product.id%>" value="1" />
			<% if current_order %>
				<input type="button" onclick="add(<%=product.id%>);" value="add to current order">
			<% else %>
				<input type="button" onclick="create(<%=product.id%>);" value="add to order">
			<% end %>
		</td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
